.mobilemenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    display: flex;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    z-index: 1;
}

.mobilemenu_open {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s linear;
    transition-delay: 0s;
}


.mobilemenu__container {
    max-width: 520px;
    padding: 161px 160px 86px;
    background-color: #FAFAFA;
    z-index: 2;
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: fixed;
}

.mobilemenu__links {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-decoration: none;
    height: 100vh;
}


.mobilemenu__link {
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    margin: 1px 0 24px;
    width: fit-content;
    text-decoration: none;
    color: #000000;
    transition: opacity .3s linear;
}

.mobilemenu__link:hover {
    opacity: 0.7;
    cursor: pointer;
}
.mobilemenu__link_active {
    border-bottom: 2px solid #000000;
}

.mobilemenu__link-account {
    margin-top: auto;;
}

.mobilemenu__button-account {
    width: 100px;
    height: 32px;
    background-image: url(../../images/profile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FAFAFA;
    background-size: auto;
    border-radius: 4px;
    border: none;
    padding: 0;
    transition: opacity .3s linear;
    margin: auto;
    margin-top: auto;
   
}

.mobilemenu__button-account:hover {
opacity: 0.7;
cursor: pointer;
}


.mobilemenu__close {
    background: url(../../images/close_burger.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 27px;
    right: 27px;
    border: none;
    transition: opacity .3s linear;
}

.mobilemenu__close:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media  (max-width: 720px) {
    .mobilemenu__container {
        width: 100%;
        padding: 140px 14px 48px;
    }
}

@media (max-width: 500px) {
    .mobilemenu__container {
        width: 100%;
        padding: 140px 14px 37px;
    }

    .mobilemenu__link {
        margin: 4px 0 20px;
    }

    .mobilemenu__button-account {
        margin-bottom: 72px;
    }

    .mobilemenu__close {
        top: 17px;
        right: 18px;
    }

}