.movie {
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  max-width: 370px;
  max-height: 218px;
  border-radius: 15px;
  box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.05);
  list-style: none;
  overflow: hidden;
}

.movie__info {
  display: flex;
  padding: 0px 12px 0px 12px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: auto;
  height: auto;
  flex-wrap: wrap;
}


.movie__image {
  height: 151px;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  display: block;
  cursor: pointer;

}

.movie__description {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: fit-content;
}

.movie__header {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.73px;
  margin: 0;
}

.movie__subtitle {
  font-weight: 400;
  color: #A0A0A0;
  font-size: 11px;
  height: 13px;
  line-height: 13.31px;
  margin: 0px;
}

.movie__icon {
  width: 30px;
  height: 30px;
  margin: 12px -9px 37px auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 0;
  cursor: pointer;
  border: none;
}

.movie__icon_type_delete {
  background-image: url(../../images/movie-delete.svg);
}

.movie__icon_type_save {
  background-image: url(../../images/save8d.svg);
}

.movie__icon_type_save_active {
  background-image: url(../../images/save8.svg);
}



@media  (max-width: 1200px) {

  .movie {
    max-width: 339px;
    max-height: 257px;
  }

  .movie__image {
    height: 190px;
    width: 339px;
  }

  .movie__info {
    padding: 14px 12px 0px 12px;
    align-items: flex-start;
  }

  .movie__icon {
    margin: -4px -8px 37px auto;
  }
}



@media screen and (max-width: 720px) {
  .movie__image {
    height: 168px;
    width: 300px;
  }
}

@media screen and (max-width: 720px) {
  .movie__info {}
}