.navigation {
  background-color: #F5F5F5;
  height: 66px;
  padding: 0;
  margin: 0;
  /* justify-self: flex-end; */
}

.navigation__size-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.navigation__text {
  font-size: 13px;
  font-weight: 500;
  height: 18px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: 67px;
  color: #000000;
}


@media screen and (max-width: 500px) {
  .navigation__size-container {
    max-width: 214px;
    gap: 24px;
  }
}



@media screen and (max-width: 500px) { /*этот стиль отключен, перенести свойства*/
  .navigation__text {
    font-size: 11px;
    height: 20px;
  }
}